<div class="search-container">
  <input #query type="text" name="search-str" class="search-box" id="search-str" placeholder="Search Movies" [value]="searchQuery"/>
  <button (click)="search(query.value)" type="submit" class="search-btn"></button>
</div>

<div class="container">
  <div *ngFor="let movie of movies" class="card">
    <div class="card-body">
      <b><p>{{movie.MovieName}}({{movie.Year}})</p></b>
      <img src="assets\movie-image.jpg" alt="" class="movie-image">
      <table>
        <tr>
          <td><h5>IMDB Rating </h5></td>
          <td><h6>{{movie.IMDbRating}}</h6></td>
        </tr>
        <tr>
          <td><h5>Language</h5></td>
          <td><h6>{{movie.Language}}</h6></td>
        </tr>
        <tr>
          <td><h5>Alt Text</h5></td>
          <td><h6>{{movie.AltText}}</h6></td>
        </tr>
      </table>
    </div>
  </div>
</div>
