
.carousel-item{
  width: 100%;
  height: 400px;
}

.carousel-item img{
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.search-container{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -30px;
}
.search-btn{
    height: 52px;
    width: 5%;
    z-index: 6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px #b6b8ba;
    padding: 26px;
    border: 0;
    background-image: url(/assets/search.svg);
    background-position-x: center;
    background-position-y: center;
    background-size: 25px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 122, 56);
    position: absolute;
}

.search-box{
  height: 52px;
  width: 92%;
  z-index: 5;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 5px #b6b8ba;
  border: 0;
}
